body{
    background-color: beige;
}

.navbar{
    background-color: burlywood;
}

.quem-somos{
    background-color: bisque;
}

.margin{
    margin-bottom: 50px;
}

h4{
    margin-top: 30px;
    margin-bottom: 40px;
}

h2{
    font-family: Arial;
}

p {
    font-family: Arial;
}

.img_padrao{
    margin-bottom: 10px;
    width: 500px;
}

.img_contato{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 30px;
}
footer{
    margin-bottom: 20px;
}